# Ham or Spam?

In [1]:
# when installing nltk for the first time we need to also download a few built in libraries
!pip install nltk
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 13.8 MB/s eta 0:00:00
Collecting tqdm
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     ---------------------------------------- 78.5/78.5 kB ? eta 0:00:00
Collecting regex>=2021.8.3
  Downloading regex-2022.10.31-cp39-cp39-win_amd64.whl (267 kB)
     ---------------------------------------- 267.8/267.8 kB ? eta 0:00:00
Requirement already satisfied: joblib in c:\users\utilisateur\anaconda3\envs\briefaudio\lib\site-packages (from nltk) (1.1.1)
Collecting click
  Using cached click-8.1.3-py3-none-any.whl (96 kB)
Requirement already satisfied: colorama in c:\users\utilisateur\anaconda3\envs\briefaudio\lib\site-packages (from click->nltk) (0.4.6)
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.3 nltk-3.8.1 regex-2022.10.31 tqdm-4.64.1

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...

True

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-win_amd64.whl (10.9 MB)
     --------------------------------------- 10.9/10.9 MB 34.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in c:\users\utilisateur\anaconda3\envs\briefaudio\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\utilisateur\anaconda3\envs\briefaudio\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\utilisateur\anaconda3\envs\briefaudio\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\utilisateur\anaconda3\envs\briefaudio\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.3
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

df = pd.read_pickle("email")

df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

The dataset is made up of email that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

## Remove Punctuation

👇 Create a function to remove the punctuation. Apply it to the entire data and add the output as a new column in the dataframe called `clean_text`

In [10]:
import string

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
def remove_punct(text):
    text = "".join([word for word in text if word not in string.punctuation])
    return text

#utiliser 'join' sinon ça nous sépare chaque lettre par une ','
#Pour appliquer une fonction, il faut utiliser apply

df['clean_text'] = df['text'].apply(lambda x:remove_punct(x))

In [23]:
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,1,Subject 4 color printing special request addi...
4,"Subject: do not have money , get software cds ...",1,Subject do not have money get software cds fr...

## Lower Case

👇 Create a function to lower case the text. Apply it to `clean_text`

In [32]:
def lowercase(clean_text):
    return clean_text.lower()


df['clean_text'] = df['clean_text'].apply(lowercase)
df['clean_text']

# .str.lower()  pour transformer la série en chaîne de caractère

0       subject naturally irresistible your corporate ...
1       subject the stock trading gunslinger  fanny is...
2       subject unbelievable new homes made easy  im w...
3       subject 4 color printing special  request addi...
4       subject do not have money  get software cds fr...
                              ...
5723    subject re  research and development charges t...
5724    subject re  receipts from visit  jim   thanks ...
5725    subject re  enron case study update  wow  all ...
5726    subject re  interest  david   please  call shi...
5727    subject news  aurora 5  2 update  aurora versi...
Name: clean_text, Length: 5728, dtype: object

## Remove Numbers

👇 Create a function to remove numbers from the text. Apply it to `clean_text`

In [35]:
def rem_numbers(text):
    text = "".join([word for word in text if not word.isdigit()])
    return text

df['clean_text'] = df['clean_text'].apply(rem_numbers)
df['clean_text']

0       subject naturally irresistible your corporate ...
1       subject the stock trading gunslinger  fanny is...
2       subject unbelievable new homes made easy  im w...
3       subject  color printing special  request addit...
4       subject do not have money  get software cds fr...
                              ...
5723    subject re  research and development charges t...
5724    subject re  receipts from visit  jim   thanks ...
5725    subject re  enron case study update  wow  all ...
5726    subject re  interest  david   please  call shi...
5727    subject news  aurora    update  aurora version...
Name: clean_text, Length: 5728, dtype: object

## Remove StopWords

👇 Create a function to remove stopwords from the text. Apply it to `clean_text`.

In [ ]:
# stopwords : mot qui sont 'parasites'
# word_tokenize : transforme une chaîne de caractère en une liste de mot

In [36]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [38]:
stopwords_list = set(stopwords.words("english"))
def remove_stopwords(text):
    text = " ".join([word for word in word_tokenize(text) if word not in stopwords_list])
    return (text)

df['clean_text'] = df['clean_text'].apply(lambda x: remove_stopwords(x))
df['clean_text']

0       subject naturally irresistible corporate ident...
1       subject stock trading gunslinger fanny merrill...
2       subject unbelievable new homes made easy im wa...
3       subject color printing special request additio...
4       subject money get software cds software compat...
                              ...
5723    subject research development charges gpg forwa...
5724    subject receipts visit jim thanks invitation v...
5725    subject enron case study update wow day super ...
5726    subject interest david please call shirley cre...
5727    subject news aurora update aurora version fast...
Name: clean_text, Length: 5728, dtype: object

## Lemmatize

👇 Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`.

In [ ]:
# lemmatize : tous les mots reviennent à leur racine ; ex: playing -> play ; loves -> love

In [40]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemmatize_text(text):
    text = [lemmatizer.lemmatize(word) for word in word_tokenize(text)]
    return " ".join(text)

df['clean_text'] = df['clean_text'].apply(lambda x: lemmatize_text(x))
df['clean_text']

0       subject naturally irresistible corporate ident...
1       subject stock trading gunslinger fanny merrill...
2       subject unbelievable new home made easy im wan...
3       subject color printing special request additio...
4       subject money get software cd software compati...
                              ...
5723    subject research development charge gpg forwar...
5724    subject receipt visit jim thanks invitation vi...
5725    subject enron case study update wow day super ...
5726    subject interest david please call shirley cre...
5727    subject news aurora update aurora version fast...
Name: clean_text, Length: 5728, dtype: object

## Bag-of-words Modelling

👇 Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer . Save as `X_bow`.

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['clean_text'])

In [46]:
X_bow = X.toarray()

In [47]:
pd.DataFrame(X_bow)

,0,1,2,3,4,5,6,7,8,9,...,30937,30938,30939,30940,30941,30942,30943,30944,30945,30946
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5724,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

👇 Cross-validate a MultinomialNB model with the Bag-of-words. Score the model's accuracy.

In [49]:
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score

nb_model = MultinomialNB()
cv_scores = cross_val_score(nb_model, X_bow, df['spam'], cv=10)
print("Accuracy: " , cv_scores.mean())

Accuracy:  0.9900502202858223

⚠️ Please push the exercise once you are done 🙃

## 🏁